/kicad/promicroReversiblePad.pretty
/kicad/yubuGadgetsFootpints.pretty
/kicad/phalwol-backups
kicad/\#auto_saved_files\#
kicad/design-block-lib-table
kicad/fp-lib-table
kicad/fp-lib-table
kicad/sym-lib-table
kicad/~phalwol.kicad_pcb.lck
kicad/fp-lib-table
