/kicad/promicroReversiblePad.pretty
/kicad/yubuGadgetsFootpints.pretty
/kicad/phalwol-backups
kicad/\#auto_saved_files\#
kicad/design-block-lib-table
kicad/fp-lib-table
kicad/fp-lib-table
kicad/sym-lib-table
kicad/~phalwol.kicad_pcb.lck
kicad/fp-lib-table
kicad/_autosave-phalwol.kicad_sch
kicad/fp-info-cache
kicad/~phalwol.kicad_sch.lck
kicad/~_autosave-phalwol.kicad_pcb.lck
kicad/_autosave-phalwol.kicad_pcb
kicad/.history/
kicad/~phalwol.kicad_pro.lck
kicad/phalwol.kicad_prl
